
<div>
    <h1 id="usersName"> {{user.name}} </h1>
    <div>
        <h2 id="highscore">Highest Score: {{highscore}} </h2>
        <h2 id="totalRuns">Runs: {{runs}} </h2>
        <h1 id="achievements">Achievements: </h1>
        {{!-- we may not include this in the mvp --}}
        {{!-- {{#for achievements}}
        <div id="achivementTypes">
            {{achievementName}} - {{achivementRequirement}}
        </div>
        {{/for}} --}}
    </div>
</div>


